.env
env
venv
temp
tmp
__pycache__

*.pyc
*.sqlite
*.coverage
.DS_Store
env.sh
migrations
*.idea
ios/photosync/photosync.xcodeproj/project.xcworkspace
ios/photosync/photosync.xcodeproj/xcuserdata/kish.xcuserdatad/xcschemes/xcschememanagement.plist
